{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class="page">

	{{!-- <div class="tabs">
		<div class="tabs__item">База знань</div>
		<div class="tabs__item tabs__item--active">Інформація</div>
	</div>

	<img src="/img/community.png" width="343px" height="160px" alt="adv">

	<h2 class="title2">Що таке база знань?</h2>

	<p class="community__info">База знаний — база данных, содержащая правила вывода и информацию о человеческом опыте и
		знаниях в некоторой предметной области. В самообучающихся системах база знаний также содержит информацию, являющуюся
		результатом решения предыдущих задач.</p>

	<button class="community__button">Перейти до ком'юніті у Телеграм</button>
</div> --}}

{{!
Цей код містить лише те, що буде виводитись в

<body>
	Адже наш layout/default.hbs має вже структуру HTML
	}}